<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
    @for (day of planner.days; track day.day) {
    <mat-tab [label]="day.day">
        @for (diet of day.diet; track $index) {
        <div class="diet-container">
            <mat-card class="meal-card">
                <mat-card-title>Breakfast</mat-card-title>
                <mat-card-content>
                    <h4>Protein</h4>
                    <ul>
                        @for (item of diet.breakfast.protein; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>

                    <h4>Fiber</h4>
                    <ul>
                        @for (item of diet.breakfast.fiber; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>

                    <h4>Carbs</h4>
                    <ul>
                        @for (item of diet.breakfast.carbs; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>
                </mat-card-content>
            </mat-card>

            <mat-card class="meal-card">
                <mat-card-title>Lunch</mat-card-title>
                <mat-card-content>
                    <h4>Protein</h4>
                    <ul>
                        @for (item of diet.lunch.protein; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>

                    <h4>Fiber</h4>
                    <ul>
                        @for (item of diet.lunch.fiber; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>

                    <h4>Carbs</h4>
                    <ul>
                        @for (item of diet.lunch.carbs; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>
                </mat-card-content>
            </mat-card>

            <mat-card class="meal-card">
                <mat-card-title>Dinner</mat-card-title>
                <mat-card-content>
                    <h4>Protein</h4>
                    <ul>
                        @for (item of diet.dinner.protein; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>

                    <h4>Fiber</h4>
                    <ul>
                        @for (item of diet.dinner.fiber; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>

                    <h4>Carbs</h4>
                    <ul>
                        @for (item of diet.dinner.carbs; track item) {
                        <li>{{ item }}</li>
                        }
                    </ul>
                </mat-card-content>
            </mat-card>

            <mat-card class="summary-card">
                <mat-card-title>Daily Summary</mat-card-title>
                <mat-card-content>

                    <h4>Calories</h4>
                    <p>Breakfast: {{ diet.calories.breakfast }}</p>
                    <p>Lunch: {{ diet.calories.lunch }}</p>
                    <p>Dinner: {{ diet.calories.dinner}}</p>

                    <h4>Totals</h4>
                    <p>Protein: {{diet.totals.protein }}</p>
                    <p>Fiber: {{ diet.totals.fiber }}</p>
                    <p>Carbs: {{ diet.totals.carbs }}</p>

                </mat-card-content>
            </mat-card>
        </div>
        }
    </mat-tab>
    }
</mat-tab-group>